html,
body {
  margin: 0;
  background-image: url(maps/ch1/sp_a1_intro4.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -101;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(212, 212, 212, 0.8) rgba(0, 0, 0, 0.3);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-div {
  overflow-y: scroll;
  position: absolute;
  width: 100%;
  height: 100%;
}

.bg {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(0, 110, 146, 0.5),
    rgba(0, 255, 98, 0.5)
  );
  position: fixed;
  z-index: -1;
}

span {
  color: white;
  font-family: ddin-bold;
  font-size: 30px;
}

button,
input {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  font-family: ddin;
  font-size: 30px;
  backdrop-filter: blur(4px);
  border-style: solid;
  border-radius: 5px;
  border-width: 1.5px;
  box-shadow: 0px 0px 10px black;
  margin-bottom: 5px;
  margin-top: 5px;
  text-transform: uppercase;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.507);
  min-width: 40px;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-color: rgb(29, 29, 29, 0.5);
}

button:hover {
  background-color: rgba(48, 48, 48, 0.5);
}

input {
  text-transform: none;
}

h1 {
  font-family: ddin-bold;
  color: white;
  letter-spacing: 2px;
  text-align: center;
}

/* change map div */
.match-data-controls-div {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 250px;
  position: absolute;
}

.settings-tab-div {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 310px;
  position: absolute;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#change-map {
  margin-top: 10px;
  width: 100%;
}

/* round selector */
.round-selector-div {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 370px;
  position: absolute;
}

/* switch modes */
.switch-modes-div {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 140px;
  position: absolute;
}

#timer {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 450px;
  position: absolute;
}

#randomizer {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 520px;
  position: absolute;
}

#telnet-status {
  width: 100px;
  height: 15px;
  background-color: red;
}

.telnet-status-div {
  position: fixed;
  bottom: 0;
  color: white;
  font-family: ddin;
  letter-spacing: 2px;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  user-select: none;
}

.telnet-controls-div {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 100%;
}

.controls {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  width: 280px;
}

#resetData:hover {
  background-color: rgba(255, 41, 41, 0.664);
}

.switch-pages-div {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.479);
  transform: translate(-50%, -50%);
  top: 82px;
  left: 50%;
  display: inline-flex;
  border-radius: 5px;
  overflow: hidden;
  backdrop-filter: blur(4px);
  box-shadow: 0px 0px 10px black;
}

.switch-pages-div a {
  text-decoration: none;
  color: white;
  font-family: ddin;
  font-size: 25px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.selected {
  background-color: rgba(131, 131, 131, 0.5);
}

.selected .button-cool::after {
  background-color: rgba(255, 255, 255, 0);
}

#mainBtn {
  overflow: hidden;
  position: relative;
  z-index: 2;
}

#telnetBtn {
  overflow: hidden;
  position: relative;
  z-index: 2;
}

#settingsBtn {
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.button-cool::after {
  content: '';
  width: 130%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  transform: skew(-33deg) translate(-110%);
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

#mainBtn:hover .button-cool::after {
  transform: skew(-33deg) translate(-8%);
}

#telnetBtn:hover .button-cool::after {
  transform: skew(-33deg) translate(-8%);
}

#settingsBtn:hover .button-cool::after {
  transform: skew(-33deg) translate(-8%);
}

.seperator {
  height: 100%;
  width: 2px;
  color: rgba(0, 0, 0, 0);
  background-color: rgb(119, 119, 119);
  position:absolute;
}

.hidden {
  display: none;
}

#changeTimer {
  width: 100%;
}

@font-face {
  font-family: ddin;
  src: url(D-DIN.otf);
}

@font-face {
  font-family: ddin-bold;
  src: url(D-DIN-Bold.otf);
}
