:root {
    --background-blur: 12px;
    --background-opacity: 0.8; /* this changes how dark the the bg image is */
    --color-primary: rgb(51, 255, 51);
    --color-secondary: rgb(255, 0, 212);

    /* button */
    --button-fg-color: var(--color-primary);
    --button-bg-color: rgba(255, 255, 255, 0.1);
    --button-selected-fg-color: white;
    --button-selected-bg-color: var(--color-primary);
}

body, html {
    background-color: rgb(0, 0, 0);
    margin: 0;
    font-family: ddin;
}

.bg {
    background-image: url(sp_a2_bridge_the_gap.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-size: cover;
    z-index: -2;
    opacity: var(--background-opacity);
}

.bgblur {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -1;
    backdrop-filter: blur(var(--background-blur));
}

.header {
    width: 100%;
    height: 5em;
    background-color: rgba(41, 41, 41, 0.9);
    border-bottom-width: 3px;
    border-bottom-color: var(--color-primary);
    border-bottom-style: solid;
    color: white;
    position: fixed;
    top: 0;
    box-shadow: 0px 0px 20px black;
}

.steam-pfp {
    height: 4em;
    position: relative;
    float: right;
    margin: 0.5em;
    border-radius: 10px;
}

.steam-name {
    float: right;
    text-align: right;
    margin-top: 0.6em;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: ddin-bold;
}

.steam-login {
    color: white;
    text-decoration: none;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 40px;
    margin-top: 0px;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.steam-login:hover {
    color: var(--color-secondary);
}

/* vetoes button */
.vetoes-button {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--button-selected-bg-color);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--button-bg-color);
    color: var(--button-fg-color);
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    backdrop-filter: blur(70px);
    box-shadow: 0px 0px 20px black;
}

.vetoes-button::before {
    top: 0;
    left: 0;
    width: 130%;
    height: 120%;
    transform: skew(-33deg) translate(-110%);
    content: '';
    display: block;
    position: absolute;
    background-color: var(--button-selected-bg-color);
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
}

.vetoes-button:hover::before {
    transform: skew(-33deg) translate(-10%);
}

.vetoes-button:hover .vetoes-button-text {
    color: var(--button-selected-fg-color);
    transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.vetoes-button-text {
    font-family: ddin-bold;
    font-size: 50px;
    z-index: 2;
    position: relative;
}

/* links */
.links {
    float: right;
    position: relative;
    top: 40px;
    justify-content: flex-end;
    right: 80px;
}

.links a {
    color: white;
    text-decoration: none;
    width: auto;
    text-align: right;
    float: right;
}

.links a:hover {
    text-decoration: underline;
}

.line {
    width: 2px;
    height: 16px;
    float: right;
    background-color: white;
    margin-right: 10px;
    top: 0px;
    left: 5px;
    position: relative;
}

@font-face {
    font-family: ddin;
    src: url(fonts/d-din/D-DIN.otf);
}

@font-face {
    font-family: ddin-bold;
    src: url(fonts/D-DIN-Bold.otf);
}
