/* vetoes button */
.vetoes-button {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--button-selected-bg-color);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--button-bg-color);
    color: var(--button-fg-color);
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    backdrop-filter: blur(70px);
    box-shadow: 0px 0px 20px black;
}

.vetoes-button::before {
    top: 0;
    left: 0;
    width: 130%;
    height: 120%;
    transform: skew(-33deg) translate(-110%);
    content: '';
    display: block;
    position: absolute;
    background-color: var(--button-selected-bg-color);
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
}

.vetoes-button:hover::before {
    transform: skew(-33deg) translate(-10%);
}

.vetoes-button:hover .vetoes-button-text {
    color: var(--button-selected-fg-color);
    transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.vetoes-button-text {
    font-family: ddin-bold;
    font-size: 50px;
    z-index: 2;
    position: relative;
}
