.main-div {
  margin-top: 120px;
  width: 100%;
  position: absolute;
  z-index: -1;
  margin-left: 10px;
  margin-right: 10px;
}

.map {
  display: inline-block;
  margin-left: 10px;
  user-select: none;
}

.map img {
  width: 300px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  position: relative;
}

.map div {
  position: relative;
  cursor: pointer;
}

.crossed img {
  filter: grayscale(1) brightness(0.8);
}

.crossed::before,
.crossed::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 10px;
  height: 100%;
  background-color: red;
  z-index: 1;
}

.crossed::before {
  transform: rotate(45deg);
  transform-origin: 0 50%;
}

.crossed::after {
  transform: rotate(-45deg);
  transform-origin: 100% 50%;
}

.other.crossed::before,
.other.crossed::after {
  background-color: blue;
}
