.main-div {
  margin-top: 120px;
  width: 100%;
  position: absolute;
  z-index: -1;
  margin-left: 0px;
}

.main-div-notplaying {
  margin-top: 120px;
  width: 100%;
  position: absolute;
  z-index: -1;
  margin-left: 15px;
}

.map {
  display: inline-block;
  margin-left: 10px;
  user-select: none;
}

.map img {
  width: 300px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  position: relative;
  transition: 0.5s;
}

.map div {
  position: relative;
  cursor: pointer;
}

.map div::before,
.map div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 10px;
  height: 100%;
  background-color: red;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  border-radius: 100px;
}

.map div::before {
  transform: rotate(45deg);
  transform-origin: 0 50%;
}

.map div::after {
  transform: rotate(-45deg);
  transform-origin: 100% 50%;
}

.crossed img {
  filter: grayscale(1) brightness(0.8);
}

.map div.crossed::before,
.map div.crossed::after {
  opacity: 1;
}

.other.crossed::before,
.other.crossed::after {
  background-color: blue;
}
