body {
    background-color: rgb(29, 29, 29);
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Chapters {
    width: 90%;
    height: 900px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 100;
    opacity: 1;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Chapter-Name {
    font-family: product-bold;
    font-size: 60px;
    color: white;
}

.container-div {
    width: 400px;
    height: 300px;
    background-color: rgb(52, 52, 52);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 10%;
    top: 35%;
}

.container-div:hover {
    cursor: pointer;
}

.container-image {
    width: 95%;
    transform: translate(-50%, -50%);
    position: relative;
    top: 39%;
    left: 50%;
}

.container-text {
    color: white;
    font-size: 40px;
    font-family: barlow-bold;
    transform: translate(-50%, -50%);
    position: relative;
    top: 7%;
    left: 5%;
}

#loadingScreen {
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}